<% provide :title, 'Contact' %>

<section class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default text-center">
      <div class="panel-heading">Contact Us</div>
      <div class="panel-body">
        <p>
          <address>
            <strong>noreply@example.com</strong>
            <br />
            <small>Baker Street 221, London</small>
          </address>
        </p>
      </div>
    </div>

  </div>
</section>
