<% provide :title, 'Help' %>

<section class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default center">
      <div class="panel-heading">Help</div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla nulla a lectus commodo, ac dignissim lectus pretium. Sed non mauris vel lorem faucibus gravida vitae ut lorem. Curabitur sodales est molestie risus accumsan malesuada.
      </div>
    </div>

  </div>
</section>