<div class="row">
  <div class="jumbotron well-sm center">
    <h1>Welcome to the blog !</h1>
    <p>Variety of stuff is offered here ..</p>
    <p>
      <%= link_to 'Browse Posts', posts_path, class: 'btn btn-primary' %>
    </p>
  </div>
</div>