<% provide :title, 'New post' %>

<section class="container row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= render 'form', header_text: 'Write an Awesome Post !', submit_text: 'Create' %>
  </div>
</section>
