<footer id="footer" class="container-fluid center">
  <h5>
    The Blog App |
    <small>Developed by: Abdullah Barrak</small>
  </h5>
  <p>
    <%= link_to 'Help', help_path %> : : : <%= link_to 'Contact', contact_path %>
  </p>
</footer>
