<footer id="footer" class="container-fluid center">
  <p>The Blog App | Developed by: Abdullah Barrak</p>
    <p>
      <%= link_to 'Help', help_path %> - <%= link_to 'Contact', contact_path %>
    </p>
    <br />
</footer>
