<footer class="footer text-center">
  The Blog App | Developed by: Abdullah Barrak
  <nav>
    <small><%= link_to 'Help', help_path, class: 'btn btn-link' %></small> -
    <small><%= link_to 'Contact', contact_path, class: 'btn btn-link' %></small>
  </nav>
</footer>
